// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$colorOrange: hsl(26, 100%, 55%);
$colorPaleOrange: hsl(25, 100%, 94%);
$colorDarkBlue: hsl(220, 13%, 13%);
$colorDarkGrey: hsl(219, 9%, 45%);
$colorBlueGrey: hsl(220, 14%, 75%);
$colorLightGray: hsl(223, 64%, 98%);
$colorWhite: hsl(0, 0%, 100%);
$colorBlack: hsl(0, 0%, 0%);
$family: 'Kumbh Sans', sans-serif;
