.container {
  font-family: "Kumbh Sans", sans-serif;
  width: 100vw;
  background-color: white;
  padding-inline: 10%;
}

@media only screen and (max-width: 669px) {
  .container {
    scale: 1;
    width: auto;
    padding-inline: 0%;
  }
}

.navigation {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 60px;
  border-bottom: 1px solid #b6bcc8;
}

@media only screen and (max-width: 969px) {
  .navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 0px;
    height: 12vh;
    border-bottom: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
}

.navigation .menu {
  margin-left: 20px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 969px) {
  .navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation .logo {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

@media only screen and (max-width: 969px) {
  .navigation .logo {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

.navigation .logo h1 {
  font-weight: 900;
  color: black;
  font-family: "Kumbh Sans", sans-serif;
}

@media only screen and (max-width: 969px) {
  .navigation .logo h1 {
    margin-top: 15px;
  }
}

.navigation .links {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

@media only screen and (max-width: 969px) {
  .navigation .links {
    display: none;
  }
}

.navigation .links a {
  margin-left: 25px;
  text-decoration: none;
  color: #b6bcc8;
  font-weight: 500;
  padding: 48px 0px;
}

.navigation .links a:hover {
  border-bottom: 3px solid #ff7d1a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 1px;
  color: black;
}

.navigation .profile_section {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 969px) {
  .navigation .profile_section {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
  }
}

.navigation .profile_section .cart_icon_container {
  position: relative;
}

.navigation .profile_section .count {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  background-color: #ff7d1a;
  color: white;
  border-radius: 10px;
  -webkit-transform: translate(7px, -10px) scale(0.7);
          transform: translate(7px, -10px) scale(0.7);
}

.navigation .profile_section .profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

@media only screen and (max-width: 969px) {
  .navigation .profile_section .profile {
    width: 40px;
    height: 40px;
  }
}

.navigation .profile_section .profile img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50px;
  border: 2px solid white;
}

.navigation .profile_section .profile img:hover {
  border: 2px solid #ff7d1a;
}

.cart {
  position: absolute;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  top: 50px;
  background-color: white;
  width: 370px;
  height: 250px;
  -webkit-box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

@media only screen and (max-width: 969px) {
  .cart {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    top: 100px;
    border-radius: 10px;
  }
}

.cart .cart_head {
  padding-inline: 20px;
  height: 40px;
}

.cart .empty_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .cart_body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart .cart_body .item .item_img {
  width: 60px;
  height: 60px;
}

.cart .cart_body .item .item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart .cart_body .item .item_text p {
  line-height: 10px;
}

.cart .cart_body .item .item_icon {
  cursor: pointer;
}

.cart .cart_body .item .item_icon:hover {
  -webkit-filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
          filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
}

.cart .cart_body .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .cart_body .checkout button {
  padding: 15px 135px 15px 135px;
  background-color: #ff7d1a;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

.shop {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 1%;
}

@media only screen and (max-width: 869px) {
  .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shop .carousel {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 550px;
}

.shop .carousel .focus {
  width: 450px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 869px) {
  .shop .carousel .focus {
    width: 550px;
    margin-top: -40px;
  }
}

.shop .carousel .focus img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .carousel .focus .left {
  position: absolute;
  top: 170px;
  left: 12%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: none;
}

.shop .carousel .focus .left img {
  scale: 0.4;
}

@media only screen and (max-width: 869px) {
  .shop .carousel .focus .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.shop .carousel .focus .right {
  position: absolute;
  top: 170px;
  right: 12%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: none;
}

.shop .carousel .focus .right img {
  scale: 0.4;
}

@media only screen and (max-width: 869px) {
  .shop .carousel .focus .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.shop .carousel .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 869px) {
  .shop .carousel .scroll {
    display: none;
  }
}

.shop .carousel .scroll .small_img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.shop .carousel .scroll .small_img:hover {
  border-color: 1px solid white;
}

.shop .carousel .scroll .small_img .overlay {
  position: absolute;
  border-color: none;
  width: 96%;
  top: 1px;
  left: 2px;
  height: 99%;
  border-radius: 10px;
  background-color: rgba(228, 225, 225, 0.3);
}

.shop .carousel .scroll .small_img img {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.shop .text {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  padding: 0px 00px 0px 10%;
  min-width: 400px;
}

@media only screen and (max-width: 869px) {
  .shop .text {
    padding: 0px 5% 0px 5%;
  }
}

.shop .text .tag {
  color: #ff7d1a;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 869px) {
  .shop .text .tag {
    margin-top: -10px;
    font-size: 14px;
  }
}

.shop .text .heading {
  font-size: 2.75rem;
  font-weight: 700;
  color: black;
  margin-bottom: 70px;
}

@media only screen and (max-width: 869px) {
  .shop .text .heading {
    font-size: 2.15rem;
  }
}

.shop .text .paragraph {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.shop .text .paragraph .main_txt {
  color: #68707d;
  font-weight: 700;
  line-height: 30px;
  word-spacing: 2px;
  margin-bottom: 40px;
}

.shop .text .paragraph .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
}

.shop .text .paragraph .price .amount {
  color: black;
  font-size: 2em;
  margin-right: 20px;
  font-weight: 700;
}

.shop .text .paragraph .price .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffede0;
  color: #ff7d1a;
  font-weight: 700;
  padding: 5px;
  margin-top: 15px;
}

.shop .text .paragraph .strike p {
  color: #68707d;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: 50px;
  text-decoration: line-through;
}

@media only screen and (max-width: 869px) {
  .shop .text .paragraph .strike p {
    -webkit-transform: translate(80%, -140%);
            transform: translate(80%, -140%);
  }
}

.shop .btn {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 869px) {
  .shop .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shop .btn .btn_add {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f8fd;
  padding: 15px 0px;
  border-radius: 5px;
}

@media only screen and (max-width: 869px) {
  .shop .btn .btn_add {
    width: 100%;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop .btn .btn_add .decrement {
  border: none;
  background-color: transparent;
  color: #ff7d1a;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  width: 10px;
  margin-top: 1px;
  padding-left: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 869px) {
  .shop .btn .btn_add .decrement {
    padding-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop .btn .btn_add .increment {
  border: none;
  background-color: transparent;
  color: #ff7d1a;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  width: 10px;
  margin-top: 1px;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 869px) {
  .shop .btn .btn_add .increment {
    padding-right: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop .btn .btn_add span {
  color: black;
  margin-top: 2px;
}

@media only screen and (max-width: 869px) {
  .shop .btn .btn_add span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop .btn button {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff7d1a;
  color: white;
  cursor: pointer;
  border: 1px solid #ff7d1a;
  border-radius: 5px;
}

@media only screen and (max-width: 869px) {
  .shop .btn button {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }
}

.shop .btn button img {
  -webkit-filter: brightness(0) invert(1) contrast(10);
          filter: brightness(0) invert(1) contrast(10);
  color: white;
  padding: 4% 0%;
}

.shop .btn button span {
  white-space: nowrap;
  font-weight: 700;
  margin-left: 10px;
}

.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.659);
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 869px) {
  .lightbox {
    width: 0%;
  }
}

.lightbox .lightbox_cont .control_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  padding-right: 5px;
  height: 40px;
}

@media only screen and (max-width: 869px) {
  .lightbox .lightbox_cont .control_close {
    display: none;
  }
}

.lightbox .lightbox_cont .control_close .close {
  -webkit-filter: brightness(0) invert(1) contrast(10);
          filter: brightness(0) invert(1) contrast(10);
}

.lightbox .lightbox_cont .control_close .close:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%) sepia(100%) brightness(138%) hue-rotate(347deg) saturate(1000%);
          filter: grayscale(100%) sepia(100%) brightness(138%) hue-rotate(347deg) saturate(1000%);
}

.lightbox .lightbox_cont .carousel {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 550px;
}

.lightbox .lightbox_cont .carousel .focus {
  width: 450px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.lightbox .lightbox_cont .carousel .focus img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 869px) {
  .lightbox .lightbox_cont .carousel .focus img {
    display: none;
  }
}

.lightbox .lightbox_cont .carousel .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 869px) {
  .lightbox .lightbox_cont .carousel .scroll {
    display: none;
  }
}

.lightbox .lightbox_cont .carousel .scroll .small_img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.lightbox .lightbox_cont .carousel .scroll .small_img:hover {
  border-color: 1px solid white;
}

.lightbox .lightbox_cont .carousel .scroll .small_img .overlay {
  position: absolute;
  border-color: none;
  width: 96%;
  top: 1px;
  left: 2px;
  height: 99%;
  border-radius: 10px;
  background-color: rgba(228, 225, 225, 0.57);
}

.lightbox .lightbox_cont .carousel .scroll .small_img img {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.lightbox .lightbox_cont .left {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  -webkit-transform: translate(-20px, -400px);
          transform: translate(-20px, -400px);
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 869px) {
  .lightbox .lightbox_cont .left {
    display: none;
  }
}

.lightbox .lightbox_cont .left img {
  -webkit-filter: brightness(1) invert(0) contrast(10);
          filter: brightness(1) invert(0) contrast(10);
  scale: .9;
}

.lightbox .lightbox_cont .left img:hover {
  scale: 1;
  -webkit-filter: grayscale(100%) sepia(100%) brightness(138%) hue-rotate(347deg) saturate(1000%);
          filter: grayscale(100%) sepia(100%) brightness(138%) hue-rotate(347deg) saturate(1000%);
}

.lightbox .lightbox_cont .right {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-transform: translate(430px, -440px);
          transform: translate(430px, -440px);
  width: 40px;
  border-radius: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 869px) {
  .lightbox .lightbox_cont .right {
    display: none;
  }
}

.lightbox .lightbox_cont .right img {
  -webkit-filter: brightness(1) invert(0) contrast(10);
          filter: brightness(1) invert(0) contrast(10);
  scale: .9;
}

.lightbox .lightbox_cont .right img:hover {
  scale: 1;
  -webkit-filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
          filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
}

.sidebar {
  width: 50vw;
  margin-left: -250px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding-top: 50px;
  border-right: 2px solid #b6bcc8;
  -webkit-transition: 0.9s ease-in;
  transition: 0.9s ease-in;
  display: none;
}

@media only screen and (max-width: 869px) {
  .sidebar {
    display: block;
  }
}

.sidebar .close {
  position: absolute;
  top: 20px;
  left: 20px;
  scale: 0.8;
  cursor: pointer;
}

.sidebar .close:hover {
  -webkit-filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
          filter: grayscale(100%) sepia(100%) brightness(82%) hue-rotate(347deg) saturate(1000%);
}

.sidebar ul {
  margin-left: -20px;
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 35px;
}

.sidebar ul li a {
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #1d2025;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.405);
  width: 100vw;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 869px) {
  .overlay {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */